.class-icon {
    padding: 0 18px;
    cursor: pointer;
}
.class-spacer {
    flex: 1 1 auto;
}
.header-class {
    height: 54px !important;
}
.mat-toolbar-multiple-rows {
    min-height: 54px !important;
}
.mat-label-class {
    top: 0px !important;
    font-size: large !important;
    color: white !important;
}
.mat-field-class {
    height: 50px !important;
    margin-left: 15px !important;
}
.mat-date-field-class {
    height: 50px !important;
    margin-left: 20px !important;
    width: 180px !important;
}
::ng-deep .mat-form-field-flex {
    padding: 0 0 0 0 !important;
    background-color: inherit !important;
    height: 50px !important;
}
::ng-deep .mat-option {
    font-size: initial !important;
}
::ng-deep .mat-icon-button {
    color: white !important;
}
::ng-deep .mat-input-element {
    color: white !important;
}
