<mat-toolbar class="footer-class">
    <mat-toolbar-row>
      <span class="class-spacer"></span>
      <div>
        <p style="display: block !important;
            color: white !important;
            font-weight: 200 !important;
            margin-bottom: 0px !important;
            font-size: 15px !important;
            line-height: initial !important;">Legends:</p>
        <h3 style="display: block !important;
            color: white !important;
            font-weight: 200 !important;
            font-size: 15px !important;
            line-height: initial !important;">P2W : Predictions for next 2 weeks</h3>
      </div>
      <mat-icon class="class-icon" aria-hidden="false" aria-label="class-icon">help</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
