.class-icon {
    padding: 0 14px;
}
.class-spacer {
    flex: 1 1 auto;
}
.footer-class {
    background-color: #808080;
    height: 48px !important;
}
.mat-toolbar-multiple-rows {
    min-height: 48px !important;
}
