.storage-card-class {
    margin-top: 20px;
    margin-left: 7.5px;
    background-color: #eeeeee;
}
.region-card-class {
    margin-top: 5px;
    margin-left: 7.5px;
    background-color: #eeeeee;
}
.storage-image-class {
    background-image: url('../../../../assets/water-tank-truck.png');
    background-size: cover;
}
.region-image-class {
    background-image: url('../../../../assets/region-map-icon.png');
    background-size: cover;
}
.water-image-class {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.mat-standard-chip {
    width: 90% !important;
}