.region-card-class {
    margin-top: 25px;
    margin-left: 7.5px;
    background-color: #efeff5;
}
.region-image-class {
    background-image: url('../../../../assets/region-map-icon.png');
    background-size: cover;
}
.mat-standard-chip {
    width: 90% !important;
}