<mat-card class="user-card-class">
    <mat-card-header>
        <mat-card-title>User</mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <img src="../../../../assets/user.png" height="50%" width="50%">
        <p *ngIf="!!authService.userData.displayName" class="top-para-class para-class">{{ authService.userData.displayName }}</p>
        <p *ngIf="!authService.userData.displayName" class="top-para-class para-class">Unknown user</p>
        <p class="para-class">{{ authService.userData.email }}</p>
        <p class="para-class">Admin</p>
    </mat-card-content>
</mat-card>
<mat-card class="region-card-class">
    <mat-card-header>
        <div mat-card-avatar class="region-image-class"></div>
        <mat-card-title>Regions</mat-card-title>
        <mat-card-subtitle>Tanks</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
         <p>
            Given below is the list of names for the storage tank regions.
        </p>
        <mat-chip-list class="mat-chip-list-stacked">
            <mat-chip *ngFor="let object of regionList" selected [color]="object.color" (click)="regionSelect(object.regionName)">
                {{object.regionName}}
            </mat-chip>
        </mat-chip-list>
    </mat-card-content>
    <img class="water-image-class" src="../../../../assets/sea.png" height="45px" width="45px">
</mat-card>

